body {
  min-height: 100vh;
  background-color: rgb(228, 203, 203);
}
.biBell {
  color: white;
}
.firstB {
  background-color: white;
  color: black;
}
footer {
  height: 200px;
  width: 200px;
}
.photo {
  height: 250px;
  width: 150px;
}
/* .vertical1 {
  width: 100px;
}
.vertical2 {
  height: 250px;
  width: 145px;
} */
.exer4 {
  height: 100px;
  width: 100px;
}
